<div class="login-status-header">

  @if (isAuthenticated && userFullName) {
    <div class="login-status-user-info">
      <span style="color: #FFCB05">Welcome back, {{ userFullName }}.</span>
    </div>
  }

  @if (!isAuthenticated) {
    <button routerLink="/login" class="security-btn">Login</button>
  }

  @if (isAuthenticated) {
    <button (click)="logout()" class="au-btn-submit">Logout</button>
  }

  @if (isAuthenticated) {
    <button routerLink="/members" class="au-btn-submit">Members</button>
  }

  @if (isAuthenticated) {
    <button routerLink="/order-history" class="au-btn-submit">Orders</button>
  }
</div>