<div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">
            <!-- <li>
                <a routerLink="/category/1" routerLinkActive="active-link">
                    Books
                </a>
            </li>
            <li>
                <a routerLink="/category/2" routerLinkActive="active-link">
                    Coffeemugs
                </a>
            </li> -->
            <li *ngFor="let c of productCategories">
                <a routerLink="/category/{{ c.id }}" routerLinkActive="active-link">
                    {{ c.categoryName }}
                </a>
            </li>
        </ul>
    </nav>
</div>