<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
                <!-- customer form group -->
                <div formGroupName="customer" class="form-area">

                    <h3 class="title">Customer</h3>

                    <div class="row">
                        <div class="col-md-2"><label>First Name</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="firstName" placeholder="First Name">
                                <!-- <span class="error" *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">First Name is required.</span> -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Last Name</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="lastName" placeholder="Last Name">
                                <!-- <span class="error" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">Last Name is required.</span> -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Email</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="email" placeholder="Email">
                                <!-- <span class="error" *ngIf="email.invalid && (email.dirty || email.touched)">Email is required.</span> -->
                            </div>
                        </div>
                    </div>

                </div>
                <!-- end customer form group -->

                <!-- shipping address form group -->
                <div formGroupName="shippingAddress" class="form-area">

                    <h3 class="title">Shipping Address</h3>

                    <div class="row">
                        <div class="col-md-2"><label>Street</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="street" placeholder="Street">
                                <!-- <span class="error" *ngIf="street.invalid && (street.dirty || street.touched)">Street is required.</span> -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>City</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="city" placeholder="City">
                                <!-- <span class="error" *ngIf="city.invalid && (city.dirty || city.touched)">City is required.</span> -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>State</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="state" placeholder="State">
                                <!-- <span class="error" *ngIf="state.invalid && (state.dirty || state.touched)">State is required.</span> -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Zip Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="Zip Code" placeholder="Zip Code">
                                <!-- <span class="error" *ngIf="city.invalid && (city.dirty || city.touched)">City is required.</span> -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Country</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country">
                                    <option value="">-- Select Country --</option>
                                    <option *ngFor="let country of countries" [ngValue]="country">{{country.name}}</option>
                                </select>
                                <!-- <input type="text" formControlName="country" placeholder="Country"> -->
                                <!-- <span class="error" *ngIf="country.invalid && (country.dirty || country.touched)">Country is required.</span> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end shipping address form group -->

                <!-- Add checkbox to copy shipping address to billing address -->
                <div class="input-space">
                    <input type="checkbox" formControlName="copyShippingAddress" (change)="copyShippingAddressToBillingAddress($event)">
                    <label>Copy Shipping Address to Billing Address</label>
                </div>

                <!-- billing address form group -->
                <div formGroupName="billingAddress" class="form-area">

                    <h3 class="title">Billing Address</h3>

                    <div class="row">
                        <div class="col-md-2"><label>Street</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="street" placeholder="Street">
                                <!-- <span class="error" *ngIf="street.invalid && (street.dirty || street.touched)">Street is required.</span> -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>City</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="city" placeholder="City">
                                <!-- <span class="error" *ngIf="city.invalid && (city.dirty || city.touched)">City is required.</span> -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>State</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="state" placeholder="State">
                                <!-- <span class="error" *ngIf="state.invalid && (state.dirty || state.touched)">State is required.</span> -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Zip Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="Zip Code" placeholder="Zip Code">
                                <!-- <span class="error" *ngIf="city.invalid && (city.dirty || city.touched)">City is required.</span> -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Country</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country">
                                    <option value="">-- Select Country --</option>
                                    <option *ngFor="let country of countries" [ngValue]="country">{{country.name}}</option>
                                </select>
                                <!-- <input type="text" formControlName="country" placeholder="Country"> -->
                                <!-- <span class="error" *ngIf="country.invalid && (country.dirty || country.touched)">Country is required.</span> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end billing address form group -->

                <!-- credit card form group -->
                <div formGroupName="creditCard" class="form-area">

                    <h3 class="title">Credit Card</h3>

                    <div class="row">
                        <div class="col-md-2"><label>Name on Card</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="nameOnCard" placeholder="Name on Card">
                                <!-- <span class="error" *ngIf="nameOnCard.invalid && (nameOnCard.dirty || nameOnCard.touched)">Name on Card is required.</span> -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Card Number</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="cardNumber" placeholder="Card Number">
                                <!-- <span class="error" *ngIf="cardNumber.invalid && (cardNumber.dirty || cardNumber.touched)">Card Number is required.</span> -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Card Type</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="cardType" placeholder="Card Type">
                                    <option>Visa</option>
                                    <option>MasterCard</option>
                                </select>
                                <!-- <span class="error" *ngIf="nameOnCard.invalid && (nameOnCard.dirty || nameOnCard.touched)">Name on Card is required.</span> -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Security Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="securityCode" placeholder="Security Code">
                                <!-- <span class="error" *ngIf="securityCode.invalid && (securityCode.dirty || securityCode.touched)">Security Code is required.</span> -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Expiration Year</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationYear" (change)="handleMonthAndYears()">
                                    <option value="">-- Select Year --</option>
                                    <option *ngFor="let year of creditCardYears" [value]="year">{{year}}</option>
                                </select>
                                <!-- <span class="error" *ngIf="expirationYear.invalid && (expirationYear.dirty || expirationYear.touched)">Expiration Year is required.</span> -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Expiration Month</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationMonth">
                                    <option value="">-- Select Month --</option>
                                    <option *ngFor="let month of creditCardMonths" [value]="month">{{month}}</option>
                                </select>
                                <!-- <span class="error" *ngIf="expirationMonth.invalid && (expirationMonth.dirty || expirationMonth.touched)">Expiration Month is required.</span> -->
                            </div>
                        </div>
                    </div>

                </div>
            </form>
            
            <!-- order review -->
            <!-- <div class="order-review">
                <h3 class="title">Order Review</h3>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of cartItems">
                                <td>{{item.name}}</td>
                                <td>{{item.qty}}</td>
                                <td>{{item.price | currency:'USD':true}}</td>
                                <td>{{item.qty * item.price | currency:'USD':true}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">Total</td>
                                <td>{{cartTotal | currency:'USD':true}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div> -->

            <!-- submit button-->
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-sm">Submit</button>
            </div>

        </div>
    </div>
</div>