<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
                <!-- customer form group -->
                <div formGroupName="customer" class="form-area">

                    <h3 class="title">Customer</h3>

                    <div class="row">
                        <div class="col-md-2"><label>First Name</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="firstName" placeholder="First Name">
                                <div class="alert alert-danger mt-1" *ngIf="firstName!.invalid && (firstName!.dirty || firstName!.touched)">
                                    <div *ngIf="firstName!.errors?.['required'] || firstName!.errors?.['notOnlyWhitespace']">
                                        First Name is required.
                                    </div>
                                    <div *ngIf="firstName?.errors?.['minlength']">
                                        First Name must be at least 2 characters long.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Last Name</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="lastName" placeholder="Last Name">
                                <div class="alert alert-danger mt-1" *ngIf="lastName!.invalid && (lastName!.dirty || lastName!.touched)">
                                    <div *ngIf="lastName!.errors!['required'] || lastName!.errors?.['notOnlyWhitespace']">
                                        Last Name is required.
                                    </div>
                                    <div *ngIf="lastName?.errors?.['minlength']">
                                        Last Name must be at least 2 characters long.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Email</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="email" placeholder="Email">
                                <div class="alert alert-danger mt-1" *ngIf="email!.invalid && (email!.dirty || email!.touched)">
                                    <div *ngIf="email!.errors!['required']">
                                        Email is required.
                                    </div>
                                    <div *ngIf="email?.errors?.['pattern']">
                                        Eamil is not valid.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- end customer form group -->

                <!-- shipping address form group -->
                <div formGroupName="shippingAddress" class="form-area">

                    <h3 class="title">Shipping Address</h3>

                    <div class="row">
                        <div class="col-md-2"><label>Country</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('shippingAddress')">
                                    <option value="">-- Select Country --</option>
                                    <option *ngFor="let country of countries" [ngValue]="country">{{country.name}}</option>
                                </select>

                                <div class="alert alert-danger mt-1" *ngIf="shippingAddressCountry!.invalid && (shippingAddressCountry!.dirty || shippingAddressCountry!.touched)">
                                    <div *ngIf="shippingAddressCountry!.errors!['required']">
                                        Country is required.
                                    </div>
                                </div>
                                <!-- <input type="text" formControlName="country" placeholder="Country"> -->
                                <!-- <span class="error" *ngIf="country.invalid && (country.dirty || country.touched)">Country is required.</span> -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>State</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option value="">-- Select State --</option>
                                    <option *ngFor="let state of shippingAddressStates" [ngValue]="state">{{state.name}}</option>
                                </select>

                                <div class="alert alert-danger mt-1" *ngIf="shippingAddressState!.invalid && (shippingAddressState!.dirty || shippingAddressState!.touched)">
                                    <div *ngIf="shippingAddressState!.errors!['required']">
                                        State is required.
                                    </div>
                                </div>
                                <!-- <span class="error" *ngIf="state.invalid && (state.dirty || state.touched)">State is required.</span> -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>City</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="city" placeholder="City">
                                <!-- <span class="error" *ngIf="city.invalid && (city.dirty || city.touched)">City is required.</span> -->
                                <div class="alert alert-danger mt-1" *ngIf="shippingAddressCity!.invalid && (shippingAddressCity!.dirty || shippingAddressCity!.touched)">
                                    <div *ngIf="shippingAddressCity!.errors!['required']">
                                        City is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Street</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="street" placeholder="Street">
                                <!-- <span class="error" *ngIf="street.invalid && (street.dirty || street.touched)">Street is required.</span> -->
                                <div class="alert alert-danger mt-1" *ngIf="shippingAddressStreet!.invalid && (shippingAddressStreet!.dirty || shippingAddressStreet!.touched)">
                                    <div *ngIf="shippingAddressStreet!.errors!['required'] || shippingAddressStreet!.errors?.['notOnlyWhitespace']">
                                        Street is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Zip Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="zipCode" placeholder="Zip Code">
                                <!-- <span class="error" *ngIf="city.invalid && (city.dirty || city.touched)">City is required.</span> -->
                                <div class="alert alert-danger mt-1" *ngIf="shippingAddressZipCode!.invalid && (shippingAddressZipCode!.dirty || shippingAddressZipCode!.touched)">
                                    <div *ngIf="shippingAddressZipCode!.errors!['required'] || shippingAddressZipCode!.errors!['notOnlyWhitespace']">
                                        Zip code is required.
                                    </div>
                                    <div *ngIf="shippingAddressZipCode?.errors?.['minlength']">
                                        Zip code must be at least 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- end shipping address form group -->

                <!-- Add checkbox to copy shipping address to billing address -->
                <div class="input-space">
                    <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
                    <label>Copy Shipping Address to Billing Address</label>
                </div>

                <!-- billing address form group -->
                <div formGroupName="billingAddress" class="form-area">

                    <h3 class="title">Billing Address</h3>

                    <div class="row">
                        <div class="col-md-2"><label>Country</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('billingAddress')">
                                    <option value="">-- Select Country --</option>
                                    <option *ngFor="let country of countries" [ngValue]="country">{{country.name}}</option>
                                </select>
                                
                                <div class="alert alert-danger mt-1" *ngIf="billingAddressCountry!.invalid && (billingAddressCountry!.dirty || billingAddressCountry!.touched)">
                                    <div *ngIf="billingAddressCountry!.errors!['required']">
                                        Country is required.
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>State</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state" placeholder="State">
                                    <option value="">-- Select State --</option>
                                    <option *ngFor="let state of billingAddressStates" [ngValue]="state">{{state.name}}</option>
                                </select>

                                <div class="alert alert-danger mt-1" *ngIf="billingAddressState!.invalid && (billingAddressState!.dirty || billingAddressState!.touched)">
                                    <div *ngIf="billingAddressState!.errors!['required']">
                                        State is required.
                                    </div>
                                </div>

                                <!-- <span class="error" *ngIf="state.invalid && (state.dirty || state.touched)">State is required.</span> -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>City</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="city" placeholder="City">

                                <div class="alert alert-danger mt-1" *ngIf="billingAddressCity!.invalid && (billingAddressCity!.dirty || billingAddressCity!.touched)">
                                    <div *ngIf="billingAddressCity!.errors!['required']">
                                        City is required.
                                    </div>
                                </div>

                                <!-- <span class="error" *ngIf="city.invalid && (city.dirty || city.touched)">City is required.</span> -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Street</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="street" placeholder="Street">
                                
                                <div class="alert alert-danger mt-1" *ngIf="billingAddressStreet!.invalid && (billingAddressStreet!.dirty || billingAddressStreet!.touched)">
                                    <div *ngIf="billingAddressStreet!.errors!['required']">
                                        Street is required.
                                    </div>
                                </div>

                                <!-- <span class="error" *ngIf="street.invalid && (street.dirty || street.touched)">Street is required.</span> -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Zip Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="zipCode" placeholder="Zip Code">

                                <div class="alert alert-danger mt-1" *ngIf="billingAddressZipCode!.invalid && (billingAddressZipCode!.dirty || billingAddressZipCode!.touched)">
                                    <div *ngIf="billingAddressZipCode!.errors!['required']">
                                        Zip code is required.
                                    </div>

                                    <div *ngIf="billingAddressZipCode?.errors?.['minlength']">
                                        Zip code must be at least 2 characters long
                                    </div>
                                </div>
                                <!-- <span class="error" *ngIf="city.invalid && (city.dirty || city.touched)">City is required.</span> -->
                            </div>
                        </div>
                    </div>

                    
                </div>
                <!-- end billing address form group -->

                <!-- credit card form group -->
                <div formGroupName="creditCard" class="form-area">

                    <h3 class="title">Credit Card</h3>

                    <div class="row">
                        <div class="col-md-2"><label>Name on Card</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="nameOnCard" placeholder="Name on Card">
                                <!-- <span class="error" *ngIf="nameOnCard.invalid && (nameOnCard.dirty || nameOnCard.touched)">Name on Card is required.</span> -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Card Number</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="cardNumber" placeholder="Card Number">
                                <!-- <span class="error" *ngIf="cardNumber.invalid && (cardNumber.dirty || cardNumber.touched)">Card Number is required.</span> -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Card Type</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="cardType" placeholder="Card Type">
                                    <option>Visa</option>
                                    <option>MasterCard</option>
                                </select>
                                <!-- <span class="error" *ngIf="nameOnCard.invalid && (nameOnCard.dirty || nameOnCard.touched)">Name on Card is required.</span> -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Security Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input type="text" formControlName="securityCode" placeholder="Security Code">
                                <!-- <span class="error" *ngIf="securityCode.invalid && (securityCode.dirty || securityCode.touched)">Security Code is required.</span> -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Expiration Year</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationYear" (change)="handleMonthAndYears()">
                                    <option value="">-- Select Year --</option>
                                    <option *ngFor="let year of creditCardYears" [value]="year">{{year}}</option>
                                </select>
                                <!-- <span class="error" *ngIf="expirationYear.invalid && (expirationYear.dirty || expirationYear.touched)">Expiration Year is required.</span> -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Expiration Month</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationMonth">
                                    <option value="">-- Select Month --</option>
                                    <option *ngFor="let month of creditCardMonths" [value]="month">{{month}}</option>
                                </select>
                                <!-- <span class="error" *ngIf="expirationMonth.invalid && (expirationMonth.dirty || expirationMonth.touched)">Expiration Month is required.</span> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end credit card form group -->

                <!-- submit button-->
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                </div>

            </form>
            
            <!-- order review -->
            <!-- <div class="order-review">
                <h3 class="title">Order Review</h3>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of cartItems">
                                <td>{{item.name}}</td>
                                <td>{{item.qty}}</td>
                                <td>{{item.price | currency:'USD':true}}</td>
                                <td>{{item.qty * item.price | currency:'USD':true}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">Total</td>
                                <td>{{cartTotal | currency:'USD':true}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div> -->
        </div>
    </div>
</div>